<template>
  {{#if useRouter}}
  <router-view v-slot="{ Component }">
    <component :is="Component" />
  </router-view>
  {{else}}
  <div class="app-container">
    <Home></Home>
  </div>
  {{/if}}
</template>
<script setup lang="ts">
{{#if useRouter}}
{{ else }}
import Home from '@pages/index.vue';
{{/if}}
</script>
<style scoped lang="scss">
{{#if useRouter}}
{{ else }}
.app-container {
  width: 100vw;
  min-height: 100vh;
}
{{/if}}
</style>